.braintree-form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.braintree-form button {
    border: none;
    background-color: rgb(23, 152, 149);
    color: white;
    font-size: 17px;
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px;
}
  
.braintree-form button:hover {
    background-color: rgb(8, 104, 102);
    cursor: pointer;
}

.braintree-form button:active {
    transform: translateY(0.5px);
}

.braintree-dropin {
    margin: 0;
}
