.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    width: 100%;
    max-width: 1300px;
}

.menu .options {
    position: relative;
    display: flex;
    font-size: 19px;
}

.menu button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 19px;
    color: white;
}

.menu .shop-menu {
    position: absolute;
    top: 50px;
    left: 190px;
    height: 100px;
    width: 255px;
    background-color: white;
    border-radius: 5px;
}

.menu a {
    text-decoration: none;
}

.menu a:visited {
    color: white
}

.menu a p, .menu button {
    padding: 8px;
    margin: 0 10px;
    border-radius: 5px;
}

.menu a p:hover, .menu button:hover {
    background-color: rgba(2, 102, 115, 0.5);
    cursor: pointer;
}

.menu img {
    height: 100%;
    width: auto;
}

.menu hr {
    width: 1px; 
    height: 20px;
    display: inline-block;
    margin: 10px 15px;
    border: none; 
    background-color: white;
}

@media (max-width: 768px) {
    .menu .options{
      display: none;
    }
}