.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    width: 100%;
    max-width: 1300px;
}

.menu .options {
    position: relative;
    display: flex;
    font-size: 19px;
}

.menu button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 19px;
    color: white;
}

.menu a {
    text-decoration: none;
}

.menu a:visited {
    color: white
}

.menu a p, .menu button {
    padding: 8px;
    margin: 0 10px;
    border-radius: 5px;
}

.menu a p:hover, .menu button:hover {
    background-color: rgba(2, 102, 115, 0.5);
    cursor: pointer;
}

.menu .active {
    color: rgb(238, 230, 148);
    font-weight: 500;
}

.menu img {
    height: 100%;
    width: auto;
}

.menu hr {
    width: 1px; 
    height: 20px;
    display: inline-block;
    margin: 10px 15px;
    border: none; 
    background-color: white;
}

.menu button.show-shop-menu {
    background-color: rgba(2, 102, 115, 0.5);
}

.menu .shop-menu {
    position: absolute;
    top: 50px;
    left: 190px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px;
    z-index: 10;
}

.menu .shop-menu .options {
    display: flex;
    flex-direction: column;
}

.menu .shop-menu .options a p {
    color: black;
    font-size: 17px;
}

.menu .shop-menu .options a p:hover {
    background-color: rgba(179, 226, 232, 0.5);
    cursor: pointer;
}

.greeny-text {
    font-weight: 700;
    color: rgb(103, 155, 154);
    font-size: 11px;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 1px;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .menu .options{
      display: none;
    }
}