  .principal-banner {
    height: 750px;
    width: calc(100% - 40px);
    max-width: 1670px;
    background-color: rgb(0, 73, 83);
    padding: 20px;
    border-radius: 15px;
    color: white;
    margin: 10px auto 0;
  }
  
  .principal-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    max-width: 1300px;
  }

  .menu .options {
    position: relative;
    display: flex;
    font-size: 19px;
  }

  .menu button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 19px;
    color: white;
  }

  .menu .shop-menu {
    position: absolute;
    top: 50px;
    left: 190px;
    height: 100px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
  }

  .menu a {
    text-decoration: none;
  }

  .menu a:visited {
    color: white
  }

  .menu a p, .menu button {
    padding: 8px;
    margin: 0 10px;
    border-radius: 5px;
  }

  .menu a p:hover, .menu button:hover {
    background-color: rgba(2, 102, 115, 0.5);
    cursor: pointer;
  }
  
  .menu img {
    height: 100%;
    width: auto;
  }
  
  .menu hr {
    width: 1px; 
    height: 20px;
    display: inline-block;
    margin: 10px 15px;
    border: none; 
    background-color: white;
  }
  
  .principal-banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 850px;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .principal-banner-text h1 {
    font-size: 54px;
    margin: 0;
    line-height: 85px;
  }
  
  .principal-banner-text p {
    font-size: 22px;
    line-height: 35px;
  }
  
  .principal-banner-text button {
    border: none;
    background-color: rgb(23, 152, 149);
    color: white;
    height: 54px;
    width: 180px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 30px;
  }
  
  .principal-banner-text button:hover {
    background-color: rgb(8, 104, 102);
    cursor: pointer;
  }

  .greeny-text {
    font-weight: 700;
    color: rgb(103, 155, 154);
    font-size: 13px;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 1px;
  }
  
  @media (max-width: 768px) {

    .principal-banner-text {
      max-width: none;
    }
  
    .principal-banner-text h1 {
      font-size: 30px;
      line-height: 45px;
    }
    
    .principal-banner-text p {
      font-size: 16px;
      line-height: 25px;
    }
  
    .menu-options{
      display: none;
    }
  }