  .principal-banner {
    height: 750px;
    width: calc(100% - 40px);
    max-width: 1670px;
    background-color: rgb(1, 65, 73);
    padding: 20px;
    border-radius: 15px;
    color: white;
    margin: 10px auto;

    background-size: cover;   /* Ensure the image covers the entire element */
    background-position: center; /* Center the background image */
  }
  
  .principal-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .principal-banner-children {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 890px;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  /*
    TODO: Investigate and remove the need for this workaround. 
    Temporary hack since there's an unexpected div affecting layout.
  */
  .principal-banner-children > div {
    position: absolute;
    top: -250px;
    width: 100%;
    height: 100%;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
  }

  .principal-banner-children {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 890px;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .principal-banner-children h1 {
    font-size: 54px;
    margin: 0;
    line-height: 83px;
  }
  
  .principal-banner-children p {
    font-size: 22px;
    line-height: 35px;
    text-align: justify;
    text-align-last: center;
  }
  
  .principal-banner-children button {
    border: none;
    background-color: rgb(23, 152, 149);
    color: white;
    height: 54px;
    width: 180px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 35px;
  }
  
  .principal-banner-children button:hover {
    background-color: rgb(8, 104, 102);
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .principal-banner-children {
      max-width: none;
    }
  
    .principal-banner-children h1 {
      font-size: 30px;
      line-height: 45px;
    }
    
    .principal-banner-children p {
      font-size: 16px;
      line-height: 25px;
    }
  }